Repository hypertrace/hypertrace-ingester, pull requests merged in 2021-02, with the labels that each got.

#126 Make service details in enricher config configurable
  hypertrace-trace-enricher/helm/templates/trace-enricher-config.yaml
  hypertrace-trace-enricher/helm/values.yaml
Labels: chore, config

#129 refactor(trace-reader): generics for traces and events
  hypertrace-trace-enricher/hypertrace-trace-enricher-impl/src/main/java/org/hypertrace/traceenricher/enrichment/enrichers/EntitySpanEnricher.java
  hypertrace-trace-enricher/hypertrace-trace-enricher-impl/src/main/java/org/hypertrace/traceenricher/enrichment/enrichers/space/SpaceEnricher.java
  hypertrace-trace-enricher/hypertrace-trace-enricher-impl/src/main/java/org/hypertrace/traceenricher/enrichment/enrichers/space/SpaceRuleEvaluator.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/DefaultTraceAttributeReader.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/DefaultValueCoercer.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/SpanValueSource.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/TraceAttributeReader.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/TraceAttributeReaderFactory.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/TraceValueSource.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/ValueCoercer.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/ValueResolver.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/ValueSource.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/attributes/ValueSourceFactory.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/AttributeValueConverter.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/AvroEntityConverter.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/DefaultTraceEntityReader.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/TraceEntityClientContext.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/TraceEntityReader.java
  hypertrace-trace-enricher/trace-reader/src/main/java/org/hypertrace/trace/reader/entities/TraceEntityReaderFactory.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/DefaultTraceAttributeReaderTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/DefaultValueCoercerTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/DefaultValueResolverTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/EntityUtil.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/SpanValueSourceTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/TraceValueSourceTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/attributes/ValueCoercerTest.java
  hypertrace-trace-enricher/trace-reader/src/test/java/org/hypertrace/trace/reader/entities/DefaultTraceEntityReaderTest.java
  span-normalizer/span-normalizer/build.gradle.kts
Labels: refactor

#133 test: Add test for ApiTraceGraph and order methods in dfs
  hypertrace-trace-enricher/hypertrace-trace-enricher-api/src/main/java/org/hypertrace/traceenricher/trace/util/ApiTraceGraph.java
  hypertrace-trace-enricher/hypertrace-trace-enricher-api/src/test/java/org/hypertrace/traceenricher/trace/util/ApiTraceGraphTest.java
  hypertrace-trace-enricher/hypertrace-trace-enricher-api/src/test/resources/SampleTrace-Hotrod.avro
  hypertrace-trace-enricher/hypertrace-trace-enricher-api/src/test/resources/SampleTrace-Hotrod.json
Labels: test
